<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobyuan.mapper.JobReadingMapper" >
  <resultMap id="BaseResultMap" type="com.jobyuan.pojo.JobReading" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="inter_id" property="interId" jdbcType="INTEGER" />
    <result column="read" property="read" jdbcType="INTEGER" />
    <result column="readtime" property="readtime" jdbcType="TIMESTAMP" />
    <result column="reservel1" property="reservel1" jdbcType="VARCHAR" />
    <result column="reservel2" property="reservel2" jdbcType="VARCHAR" />
    <result column="reservel3" property="reservel3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, inter_id, read, readtime, reservel1, reservel2, reservel3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jobyuan.pojo.JobReadingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from job_reading
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job_reading
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job_reading
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jobyuan.pojo.JobReadingExample" >
    delete from job_reading
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jobyuan.pojo.JobReading" >
    insert into job_reading (id, inter_id, read, 
      readtime, reservel1, reservel2, 
      reservel3)
    values (#{id,jdbcType=INTEGER}, #{interId,jdbcType=INTEGER}, #{read,jdbcType=INTEGER}, 
      #{readtime,jdbcType=TIMESTAMP}, #{reservel1,jdbcType=VARCHAR}, #{reservel2,jdbcType=VARCHAR}, 
      #{reservel3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jobyuan.pojo.JobReading" >
    insert into job_reading
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="interId != null" >
        inter_id,
      </if>
      <if test="read != null" >
        read,
      </if>
      <if test="readtime != null" >
        readtime,
      </if>
      <if test="reservel1 != null" >
        reservel1,
      </if>
      <if test="reservel2 != null" >
        reservel2,
      </if>
      <if test="reservel3 != null" >
        reservel3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="interId != null" >
        #{interId,jdbcType=INTEGER},
      </if>
      <if test="read != null" >
        #{read,jdbcType=INTEGER},
      </if>
      <if test="readtime != null" >
        #{readtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reservel1 != null" >
        #{reservel1,jdbcType=VARCHAR},
      </if>
      <if test="reservel2 != null" >
        #{reservel2,jdbcType=VARCHAR},
      </if>
      <if test="reservel3 != null" >
        #{reservel3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jobyuan.pojo.JobReadingExample" resultType="java.lang.Integer" >
    select count(*) from job_reading
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update job_reading
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.interId != null" >
        inter_id = #{record.interId,jdbcType=INTEGER},
      </if>
      <if test="record.read != null" >
        read = #{record.read,jdbcType=INTEGER},
      </if>
      <if test="record.readtime != null" >
        readtime = #{record.readtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reservel1 != null" >
        reservel1 = #{record.reservel1,jdbcType=VARCHAR},
      </if>
      <if test="record.reservel2 != null" >
        reservel2 = #{record.reservel2,jdbcType=VARCHAR},
      </if>
      <if test="record.reservel3 != null" >
        reservel3 = #{record.reservel3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update job_reading
    set id = #{record.id,jdbcType=INTEGER},
      inter_id = #{record.interId,jdbcType=INTEGER},
      read = #{record.read,jdbcType=INTEGER},
      readtime = #{record.readtime,jdbcType=TIMESTAMP},
      reservel1 = #{record.reservel1,jdbcType=VARCHAR},
      reservel2 = #{record.reservel2,jdbcType=VARCHAR},
      reservel3 = #{record.reservel3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jobyuan.pojo.JobReading" >
    update job_reading
    <set >
      <if test="interId != null" >
        inter_id = #{interId,jdbcType=INTEGER},
      </if>
      <if test="read != null" >
        read = #{read,jdbcType=INTEGER},
      </if>
      <if test="readtime != null" >
        readtime = #{readtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reservel1 != null" >
        reservel1 = #{reservel1,jdbcType=VARCHAR},
      </if>
      <if test="reservel2 != null" >
        reservel2 = #{reservel2,jdbcType=VARCHAR},
      </if>
      <if test="reservel3 != null" >
        reservel3 = #{reservel3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jobyuan.pojo.JobReading" >
    update job_reading
    set inter_id = #{interId,jdbcType=INTEGER},
      read = #{read,jdbcType=INTEGER},
      readtime = #{readtime,jdbcType=TIMESTAMP},
      reservel1 = #{reservel1,jdbcType=VARCHAR},
      reservel2 = #{reservel2,jdbcType=VARCHAR},
      reservel3 = #{reservel3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>